.home-page {
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.home-page > div {
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    max-width: 33%;
}

.home-page > div:hover {
    box-shadow: 0 0 10px, 
                0 0 20px,
                0 0 30px;
    transition: ease-in-out 0.3s;
    transform: translateY(-10px);
}

.div1 {
    line-height: 2em;
}

.div1 > h1 {
    font-size: 3em;
    line-height: normal;
}

.div1 > h2 {
    font-size: 2em;
}

.div1 > p {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
}

.div3 > p {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.5em;
}

span.name1 {
    background-image: linear-gradient(to right, #29a325, #2d77d4);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

span.name_icon {
    padding: 0.2em; 
}

.div2 > img {
    width: 100%;
    border-radius: 10px;
}

.separator-line {
    display: flex;
    align-items: center;
    width: 80%;
}

.before-line {
    flex-grow: 1;
    height: 2px;
    background: linear-gradient(to right, transparent, #29a325, transparent);
}

.after-line {
    flex-grow: 1;
    height: 2px;
    background: linear-gradient(to right, transparent, #2d77d4, transparent);
}

.line-title {
    position: relative;
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: "Roboto", serif;
    padding: 1em;
    background-image: linear-gradient(to right, #29a325, #2d77d4);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.about-me {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.about-me > div {
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    width: 33%;
}

.about-me > .informations, .about-me > .socials, .about-me > .skills {
    box-shadow: 0 0 10px, 
                0 0 20px,
                0 0 30px;
}

.informations > h1, .socials > h1, .skills > h1 {
    color: #2d77d4;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.meet-me {
    font-size: 3em;
    width: 20%;
}

.social-links, .information-links, .skill-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start
}

.social-links > div, .information-links > div, .skill-links > div {
    background-color: rgba(0, 0, 0 , 0.1);
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    margin: 1em;
    width: 90%;
}

.social-links > div:hover, .information-links > div:hover, .skill-links > div:hover {
    box-shadow: 0 0 10px, 
                0 0 20px,
                0 0 30px;
    transition: ease-in-out 0.3s;
    transform: translateY(-10px);
}

.github > i, 
.instagram > i, 
.facebook > i ,
.linkedin > i, 
.discord > i, 
.information-name > i, 
.information-mail > i, 
.information-location > i, 
.information-study > i, 
.information-birthday > i,
.skill-html-css > i,
.skill-html5 > i,
.skill-javascript > i,
.skill-java > i,
.skill-python > i {
    font-size: 2em;
    border-right: medium solid;
    padding: 0.5em;
}

.github > h2, 
.instagram > h2, 
.facebook > h2 , 
.linkedin > h2, 
.discord > h2, 
.information-name > h2, 
.information-mail > h2, 
.information-location > h2, 
.information-study > h2,
.information-birthday > h2,
.skill-html-css > h2,
.skill-html5 > h2,
.skill-javascript > h2,
.skill-java > h2,
.skill-python > h2 {
    margin: 1em;    
}

.projects {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.projects > h1 {
    font-size: 5em;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: none; 
    text-align: center;
    font-weight: bold;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-me > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    border: medium solid;
    border-radius: 15px;
    font-size: 3em;
    width: 50vw;
    box-shadow: 0 0 10px, 
                0 0 20px,
                0 0 30px;
    transition: ease-in-out 0.3s;
    transform: translateY(-10px);
}

.contact-me > form > input {
    width: 70%;
    height: 3em;
    border-radius: 15px;
    padding: 0.5em;
    font-size: 0.3;
    background-color: rgba(0, 0, 0 , 0.1);
    
}

.contact-me > form > input:hover {
    box-shadow: 0 0 10px, 
                0 0 20px,
                0 0 30px;
    transition: ease-in-out 0.3s;
    transform: translateY(-10px);
}

form > h2 {
    color: #2d77d4; 
    font-size: 1em;
    border-bottom: medium solid;
}

form > button {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 15px;
    width: 70%;
    margin: 1em;
    background-image: linear-gradient(to right, #29a325, #2d77d4);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    box-shadow: 0 0 10px, 
                0 0 20px,
                0 0 30px;
    color: white;   
}
form > button:hover {
    cursor: pointer;
    transition: ease-in-out 0.3s;
    transform: translateY(-10px);
}

/*---RESPONSIVE DESIGN: ---*/

@media screen and (max-width: 1279px) {
    
    .line-title {
        font-size: 3em;
    }

    .meet-me {
        width: 100%;
    }

    .home-page {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .home-page > div {
        max-width: 100%;
    }

    .about-me > div {
        width: 90%;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .about-me > div {
        max-width: 100%;
    }
    
    .contact-me > form {
        width: 90vw;
    }
}  

@media screen and (max-width: 768px) {
    
    .line-title {
        font-size: 2.5em;
    }

    .meet-me {
        width: 100%;
        font-size: 2em;
    }

    .home-page {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .home-page > div {
        max-width: 100%;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .about-me > .informations, .about-me > .socials, .about-me > .skills {
        width: 100%;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .contact-me > form {
        width: 90vw;
        border: none;
        box-shadow: none;
    }
    
    .projects > h1 {
        font-size: 2.5em;
    }

    form > h2 {
        font-size: .8em;
        width: auto;
    }
}

@media screen and (max-width: 480px) {
    
    .line-title {
        font-size: 2em;
    }

    .meet-me {
        text-align: center;
        font-size: 2em;
        width: 100%;
    }

    .home-page {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .home-page > div {
        max-width: 100%;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .about-me > .informations, .about-me > .socials, .about-me > .skills {
        width: 100%;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .informations > div, .socials > div, .skills > div {
        margin: 0.5em;
    }

    
    .informations-name > h2, .socials > h2 {
        text-align: center;
    }

    .projects > h1 {
        font-size: 3em;
    }

    form {
        width: 100vw;
    }
    
    form > h2 {
        font-size: 0.5em;
    }

    form > button {
        font-size: 0.5em;
    }
}



