.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 0;
    text-align: center;
    align-items: center;
    max-height: 50px;
    font-family: Rubik, sans-serif;
}

.navbar-name {
    font-size: 2em;
    font-family: "Roboto", serif;
    font-weight: 700;
    cursor: pointer;
}

.navbar-name span {
    color: #2d77d4;
    font-weight: bold;
}

.navbar-links div {
    font-size: 1.2em;
    background: none;
    border: none;
    display: inline;
    padding: 0.5em;
    font-family: Rubik, sans-serif;
    font-weight: 450;
    cursor: pointer;
}

.navbar-links div:hover {
    transition: color 0.5s ease-in-out;
    color: #2d77d4;
    border-bottom: medium solid #2d77d4;
}

.navbar-actions {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.navbar-actions div.languageChange {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    cursor: pointer;
    font-weight: normal;
    font-size: 1.2em;
}

.languageChange div.active {
    color: #2d77d4;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.navbar-actions div.enLabel:hover {
    transition: color 0.5s ease-in-out;
    color: #2d77d4;
}

.navbar-actions div.huLabel:hover {
    transition: color 0.5s ease-in-out;
    color: #2d77d4;
}

.navbar-actions div.theme-toggle {
    font-size: 2em;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar-actions div.theme-toggle:hover {
    transition: color 0.5s ease-in-out;
    color: #2d77d4;
}

.navbarIcon {
    display: none;
}

.navbarCloseIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.navbar-mobile {
    position: hidden;
    display: none;
}

.navbarMobileLinks {
    display: none;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.4s ease;
    z-index: 5;
}

.navbarMobileLinks div {
    color: white;
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navbarMobileLinks div.languageChange {
    display: flex;
    flex-direction: row;
}

.navbarMobileLinks div:hover {
    background-color: #555;
}

.navbarMobileLinks .languageChange:hover {
    background: none;
}

.navbarMobileLinks.active {
    right: 0;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }
    
    .navbar-actions {
        display: none;
    }

    .navbarIcon {
        display: flex;
        font-size: 2em;
        cursor: pointer;
    }

    .navbar-mobile {
        display: flex;
    }
}