.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 0;
    text-align: center;
    align-items: center;
    max-height: 50px;
}

.navbar-name {
    font-size: 2em;
    font-family: "Roboto", serif;
    font-weight: 700;
    cursor: pointer;
}

.navbar-name span {
    color: #2d77d4;
    font-weight: bold;
}

.navbar-links div {
    font-size: 1.2em;
    background: none;
    border: none;
    display: inline;
    padding: 0.5em;
    font-family: Rubik, sans-serif;
    font-weight: 450;
    cursor: pointer;
}

.navbar-links div:hover {
    transition: color 0.5s ease-in-out;
    color: #2d77d4;
    border-bottom: medium solid #2d77d4;
}

.navbar-actions {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.navbar-actions div.languageChange {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    cursor: pointer;
    font-weight: normal;
    font-size: 1.2em;
}

.languageChange div.active {
    color: #2d77d4;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.navbar-actions div.enLabel:hover {
    transition: color 0.5s ease-in-out;
    color: #2d77d4;
}

.navbar-actions div.huLabel:hover {
    transition: color 0.5s ease-in-out;
    color: #2d77d4;
}

.navbar-actions div.theme-toggle {
    font-size: 2em;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar-actions div.theme-toggle:hover {
    transition: color 0.5s ease-in-out;
    color: #2d77d4;
}