.welcome {
    display: flex;
    flex-direction: row;
    background-color: rgba(173, 173, 173, 0.3);
    padding: 1em;
    margin: 0;
    gap: 1em;
    justify-content: center;
}

.description {
    letter-spacing: normal;
    max-width: 50%;
}

.description span {
    background-image: linear-gradient(to right, #29a325, #2d77d4);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

h1 {
    font-weight: 500;
    font-size: 3em;
    font-family: "Roboto", serif;
}

h2 {
    font-weight: normal;
    font-family: monospace, sans-serif;
    font-size: 1.5em;
}

h3 {
    font-size: 2.5em;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.paragraph {
    font-size: 1.2em;
    max-width: 75%;
    border: thin solid;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
}

.image img {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    border: medium solid;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media screen and (max-width: 800px) {
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .description {
        max-width: 100%;
    }

    .image img {
        width: 400px;
        height: 400px;
    }

    .paragraph {
        max-width: 100%;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.5em;
    }
}